<section id="post_edit">
  <div class="container col-sm-4">
    <h1>Edit</h1>
    <% @post.errors.full_messages.each do |message| %>
      <p style="color:red"><%= message %></p>
    <% end %>
    <form action="/update_<%= @post.id %>" method="post">
      <div class="form-group">
        <input type="text" name="content" value="<%= @post.content %>" class="form-control">
      </div>
      <button class="btn btn-outline-danger" type="submit">Edit</button>
    </form>
  </div>
</section>
