<section id="new">
  <div class="container col-sm-4">
    <h1>New Post</h1>
    <% @post.errors.full_messages.each do |message| %>
      <p style="color:red"><%= message %></p>
    <% end %>
    <form action="/create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <input type="file" name="image" class="form-control" class="upload_image">
      </div>
      <div class="form-group">
        <textarea name="content" class="form-control"><%= @post.content %></textarea>
      </div>
      <button class="btn btn-outline-danger" type="submit">Create</button>
    </form>
  </div>
</section>

