<section id="signup">
  <div class="container col-sm-4">
    <h1>Sign Up</h1>
    <% @user.errors.full_messages.each do |message| %>
      <p style="color:red"><%= message %></p>
    <% end %>
    <form action="/user_create" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= @name %>" class="form-control" placeholder="Name..." id="name">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" value="<%= @password %>" class="form-control" placeholder="Password..." id="password">
      </div>
      <div class="form-group">
        <label for="user_image">Profile Image</label>
        <input type="file" name="user_image" class="form-control" id="user_image">
      </div>
      <button class="btn btn-outline-danger" type="submit">Ragistration</button>
    </form>
  </div>
</section>
