<h1>Sign Up</h1>
<% @user.errors.full_messages.each do |message| %>
  <% if message == "Name has already been taken" %>
    <p style="color:red;font-size:12px;">・このユーザー名は既に使われています。</p>
  <% elsif message == "Password can't be blank" %>
    <p style="color:red;font-size:12px;">・パスワードを入力してください</p>
  <% end %>
<% end %>
<form action="/user_create" method="post" enctype="multipart/form-data">
  <p>Name</p>
  <input type="text" name="name">
  <p>Password</p>
  <input type="password" name="password">
  <p>Profile Image</p>
  <input type="file" name="image">
  <p></p>
  <input type="submit" value="Registration">
</form>